.message{
  position: absolute;
  width: 500px;
  padding: 15px;
  margin: 0 auto;
  top: -50%;
  left: 0;
  right: 0;
  background: #E91E63;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  animation-name: entry;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes entry{
  0%{
    top:-50%;
  }
  100%{
    top: 0px;
  }
}

@media (max-width:780px){
  .message{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px;
    font-size: 20px;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}